In [1]:
setwd(getwd())

In [2]:
df <- read.csv("cars.csv", sep=",", header=T, 
               fileEncoding="UTF-8-BOM")
attach(df)
df

  make       hp  liters fuel    premium1
1 Ford       132 2.0    regular 0
2 Mazda      167 2.0    premium 1
3 Subaru     170 2.5    regular 0
4 Lexus      204 2.5    premium 1
5 Mitsubishi 230 3.0    regular 0
6 BMW        260 3.0    premium 1

In [3]:
x1 <- liters
x2 <- premium1
y <- hp

In [4]:
model <- lm(y ~ x1+x2)
summary(model)

Call:
lm(formula = y ~ x1 + x2)

Residuals:
     1      2      3      4      5      6
 2.417  4.417 -7.333 -6.333  4.917  1.917

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  -61.417     17.966  -3.419 0.041887 *
x1            95.500      7.002  13.639 0.000853 ***
x2            33.000      5.717   5.772 0.010337 *
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 7.002 on 3 degrees of freedom
Multiple R-squared:  0.9865,	Adjusted R-squared:  0.9775
F-statistic: 109.7 on 2 and 3 DF,  p-value: 0.001567

In [5]:
# See object structure at https://stat.ethz.ch/R-manual/R-devel/library/stats/html/summary.lm.html
sum <- summary(model)  
sum

Call:
lm(formula = y ~ x1 + x2)

Residuals:
     1      2      3      4      5      6
 2.417  4.417 -7.333 -6.333  4.917  1.917

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  -61.417     17.966  -3.419 0.041887 *
x1            95.500      7.002  13.639 0.000853 ***
x2            33.000      5.717   5.772 0.010337 *
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 7.002 on 3 degrees of freedom
Multiple R-squared:  0.9865,	Adjusted R-squared:  0.9775
F-statistic: 109.7 on 2 and 3 DF,  p-value: 0.001567

In [6]:
sum$coefficients

            Estimate  Std. Error t value   Pr(>|t|)
(Intercept) -61.41667 17.965695  -3.418552 0.0418873247
x1           95.50000  7.001984  13.638992 0.0008526729
x2           33.00000  5.717096   5.772161 0.0103374321

In [7]:
b0 <- sum$coefficients[1,1]
b0

[1] -61.41667

In [8]:
b1 <- sum$coefficients[2,1]
b1

[1] 95.5

In [9]:
b2 <- sum$coefficients[3,1]
b2

[1] 33

In [10]:
R2 <- sum$r.squared
R2

[1] 0.9865071

In [11]:
s <- sum$sigma
s

[1] 7.001984

In [12]:
f <- sum$fstatistic[1]
f

 value
109.67

In [13]:
library(dplyr)
set.seed(99) #to get repeatable data

data.train <- sample_frac(df, 0.7)

train_index <- as.numeric(rownames(data.train))
data.test <- df[-train_index, ]
data.train

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

  make       hp  liters fuel    premium1
1 Ford       132 2.0    regular 0
2 Lexus      204 2.5    premium 1
3 Mazda      167 2.0    premium 1
4 Mitsubishi 230 3.0    regular 0

In [14]:
data.test

  make       hp  liters fuel    premium1
5 Mitsubishi 230 3      regular 0
6 BMW        260 3      premium 1

In [15]:
model <- lm(hp ~ liters+premium1, data=data.train)
summary(model)

Call:
lm(formula = hp ~ liters + premium1, data = data.train)

Residuals:
   1    2    3    4
-2.4 -4.8  4.8  2.4

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   -52.00      24.59  -2.114   0.2812
liters         93.20       9.60   9.708   0.0653 .
premium1       27.80       7.96   3.493   0.1775
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 7.589 on 1 degrees of freedom
Multiple R-squared:  0.9895,	Adjusted R-squared:  0.9686
F-statistic:  47.3 on 2 and 1 DF,  p-value: 0.1023

In [16]:
y_pred <- predict(model, data.test)  # replace df with test data, not train data as shown
y_pred

    5     6
227.6 255.4

In [17]:
compared_output <- data.frame(predicted = y_pred, actual=data.test$hp)
compared_output

  predicted actual
5 227.6     230
6 255.4     260

In [18]:
mse <- mean((compared_output$predicted - compared_output$actual)^2)
mse

[1] 13.46

In [19]:
r_squared <- cor(compared_output$predicted,compared_output$actual)^2
r_squared

[1] 1